* {
	text-align: center;
	background-color: #333;
	color: whitesmoke;
	text-shadow: #000 2px 2px 5px;
	margin: auto;
	padding: 0px;
}

.header {
	font-size: 25px;
}

@media screen and (max-width: 600px) {
	.header {
		font-size: 15px;
	}
}

.weapon {
	font-size: 20px;
	margin-top: 25px;
	margin-bottom: 40px;
}

@media screen and (max-width: 600px) {
	.weapon {
		font-size: 10px;
	}
}

#winner {
	font-size: 18px;
	margin-bottom: 20px;
}

@media screen and (max-width: 600px) {
	#winner {
		font-size: 8px;
	}
}

#rank {
	font-size: 25px;
	margin-bottom: 20px;
}

@media screen and (max-width: 600px) {
	#rank {
		font-size: 15px;
	}
}

#choices {
	font-size: 18px;
}

@media screen and (max-width: 600px) {
	#choices {
		font-size: 8px;
	}
}

#pScoreDive {
	position: absolute;
	left: 25%;
	top: 65%;
}

#cScoreDiv {
	position: absolute;
	right: 25%;
	top: 65%;
}

.pScoreText {
	position: fixed;
	left: 25%;
	top: 65%;
	font-size: 25px;
}

@media screen and (max-width: 600px) {
	.pScoreText {
		font-size: 15px;
	}
}

.pScore {
	position: fixed;
	left: 25%;
	top: 70%;
	font-size: 25px;
}

@media screen and (max-width: 600px) {
	.pScore {
		font-size: 15px;
	}
}

.cScoreText {
	position: fixed;
	right: 25%;
	top: 65%;
	font-size: 25px;
}

@media screen and (max-width: 600px) {
	.cScoreText {
		font-size: 15px;
	}
}

.cScore {
	position: fixed;
	right: 25%;
	top: 70%;
	font-size: 25px;
}

@media screen and (max-width: 600px) {
	.cScore {
		font-size: 15px;
	}
}

.btnWrapper {
	top: 50%;
	height: inherit;
	width: inherit;
	display: grid;
	grid-template-columns: 1fr 2fr 2fr 2fr 1fr;
	grid-template-rows: 200px;
	justify-items: center;
	align-items: center;
	margin-bottom: 50px;
}

.rockBtn {
	background: url(./assets/rock.svg);
	background-repeat: no-repeat;
	border: none;
	outline: none;
	grid-column: 2;
	height: 200px;
	width: 275px;
	margin-top: 10px;
}

.rockBtn:hover {
	opacity: 0.75;
	transform: scale(1.05);
}

.rockBtn:active {
	transform: scale(0.98);
}

.paperBtn {
	background: url(./assets/paper.svg);
	background-repeat: no-repeat;
	border: none;
	outline: none;
	grid-column: 3;
	height: 210px;
	width: 160px;
}

.paperBtn:hover {
	opacity: 0.75;
	transform: scale(1.05);
}

.paperBtn:active {
	transform: scale(0.98);
}

.scissorsBtn {
	background: url(./assets/scissors.svg);
	background-repeat: no-repeat;
	border: none;
	outline: none;
	grid-column: 4;
	height: 200px;
	width: 200px;
}

.scissorsBtn:hover {
	opacity: 0.75;
	transform: scale(1.05);
}

.scissorsBtn:active {
	transform: scale(0.98);
}

footer {
	display: inline-block;
	margin-top: 50px;
}

@media screen and (max-width: 600px) {
	footer {
		font-size: 8px;
	}
}

a:link {
	color: black;
	text-decoration: none;
}

a:visited {
	color: black;
}

a:hover {
	color: ghostwhite;
}

a:active {
	color: ghostwhite;
}
