* {
	text-align: center;
	background-color: black;
	color: darkgray;
}

.header {
}

.weapon {
}

.outcome {
}

.divBtnBkg {
	background-image: url(./assets/rps.jpg);
	background-repeat: no-repeat;
	width: 1005px;
	height: 427px;
	margin-left: auto;
	margin-right: auto;
}

.btnWrapper {
	position: relative;
	top: 50%;
}

.paperBtn {
	position: absolute;
	left: 0px;
}

.scissorsBtn {
	position: absolute;
}

.rockBtn {
	position: absolute;
	right: 0px;
}
