* {
	text-align: center;
	background-color: black;
	color: darkgrey;
}

.header {
	font-size: 25px;
}

.weapon {
	font-size: 20px;
}

#winner {
	font-size: 18px;
}

#rank {
	font-size: 25px;
}

#choices {
	font-size: 18px;
}

#pScoreDiv {
}

.pScoreText {
	position: fixed;
	left: 25%;
	top: 50px;
	font-size: 25px;
}
.pScore {
	position: fixed;
	left: 25%;
	top: 75px;
	font-size: 25px;
}

#cScoreDiv {
}

.cScoreText {
	position: fixed;
	right: 25%;
	top: 50px;
	font-size: 25px;
}

.cScore {
	position: fixed;
	right: 25%;
	top: 75px;
	font-size: 25px;
}

.divBtnBkg {
}

.btnWrapper {
	top: 50%;
	height: inherit;
	width: inherit;
}

.rockBtn {
	margin-right: 50px;
	position: fixed;
	left: 200px;
	height: 200px;
	width: 300px;
	background: url(./assets/rock.svg);
	background-repeat: no-repeat;
	border-radius: 50%;
	border: none;
	outline: none;
}

.paperBtn {
	margin-right: 50px;
	margin-left: 50px;
	height: 250px;
	width: 190px;
	background: url(./assets/paper.svg);
	background-repeat: no-repeat;
	border: none;
	outline: none;
}

.scissorsBtn {
	margin-left: 25px;
	position: fixed;
	right: 250px;
	height: 200px;
	width: 200px;
	background: url(./assets/scissors.svg);
	background-repeat: no-repeat;
	border-radius: 5%;
	border: none;
	outline: none;
}
