* {
	text-align: center;
	background-color: #333;
	color: whitesmoke;
	text-shadow: #000 2px 2px 5px;
}

.header {
	font-size: 25px;
}

.weapon {
	font-size: 20px;
	margin-top: 25px;
	margin-bottom: 40px;
}

#winner {
	font-size: 18px;
}

#rank {
	font-size: 25px;
}

#choices {
	font-size: 18px;
}

#pScoreDiv {
}

.pScoreText {
	position: fixed;
	left: 25%;
	top: 60%;
	font-size: 25px;
}
.pScore {
	position: fixed;
	left: 25%;
	top: 65%;
	font-size: 25px;
}

#cScoreDiv {
}

.cScoreText {
	position: fixed;
	right: 25%;
	top: 60%;
	font-size: 25px;
}

.cScore {
	position: fixed;
	right: 25%;
	top: 65%;
	font-size: 25px;
}

.divBtnBkg {
}

.btnWrapper {
	top: 50%;
	height: inherit;
	width: inherit;
}

.rockBtn {
	margin-right: 50px;
	position: fixed;
	left: 200px;
	height: 200px;
	width: 300px;
	background: url(./assets/rock.svg);
	background-repeat: no-repeat;
	border-radius: 50%;
	border: none;
	outline: none;
	text-shadow: #000 2px 2px 5px;
}

.paperBtn {
	margin-right: 50px;
	margin-left: 50px;
	height: 250px;
	width: 190px;
	background: url(./assets/paper.svg);
	background-repeat: no-repeat;
	border: none;
	outline: none;
	text-shadow: #000 2px 2px 5px;
}

.scissorsBtn {
	margin-left: 25px;
	position: fixed;
	right: 250px;
	height: 200px;
	width: 200px;
	background: url(./assets/scissors.svg);
	background-repeat: no-repeat;
	border-radius: 5%;
	border: none;
	outline: none;
}

footer {
	display: inline-block;
	margin-top: 50px;
}

a:link {
	color: blue;
}

a:visited {
	color: blue;
}

a:hover {
	color: ghostwhite;
}

a:active {
	color: ghostwhite;
}
